body {
  font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
  text-anchor: middle;
}



.graph {
  height: 600px;
  width: 600px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 200px;
  background-color: beige;

}
.graph1 {
  height: 80px;
  width: 200px;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  background-color:#FFEBCD;

}


.labels {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  fill:green;
  height:5px;
  width: 10px;
  background-color: green;
}
.rect{
  fill:green;
  fill-opacity:0.1
}

.divLine {

  stroke: blue;
  stroke-dasharray: 5;
  stroke-width: .5;
}

.anchor {
  opacity: .75;
  fill: green;
  cursor: crosshair;
}
