body {
  font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
  text-anchor: middle;
}



.graph {
  height: 600px;
  width: 680px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 200px;
  

}
#main{
  background-color:#f2f2f2;  
}

.labels {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  fill:black;
  height:5px;
  width: 10px;
  background-color: green;
}
.rect{
  fill:green;
  fill-opacity:0.1
}

.divLine {

  stroke: black;
  stroke-width: .5;
  opacity: .5;
}

.anchor {

  fill:white ;
  opacity: 1;
  stroke: royalblue;
  stroke-width: 1.8;
  opacity: .9;
}
.line{
  stroke:royalblue;
  stroke-width: 6;
  opacity: .9;

}
.tooltip{
  background:pink;
  color: black;
  padding: 5px;
  border: .5px solid black;
  border-radius: 2px;
  box-sizing: border-box;
   text-align: center;

  position: absolute;

}


.outerRect{
  opacity: .5;
  fill:white;

}

#heading{
  margin-left: 300px;
  margin-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}
h2{
  margin-left: 350px;
}
h3{
  margin-left:330px;
  color: black;
  opacity: .5; 
}
.hairLine{
  stroke: red;
  opacity: 1;
  stroke-dasharray:4;
  stroke-width: 1.3;
}
