body {
  font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

/*.graph .labels.y-labels {
  text-anchor: end;
}*/

.graph {
  height: 650px;
  width: 600px;
  margin-top: 50px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 10px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 1;
}
